@using PetStore.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Košara</h2>

@{
    if (Session["Korpa"] != null)
    {
        using (Html.BeginForm("UpdateKorpa", "ShoppingCart", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            <table id="korpas" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Slika</th>
                        <th>Naziv</th>
                        <th>Opis</th>
                        <th>Cijena</th>
                        <th>Količina</th>
                        <th>Ukupna cijena</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var korpa in (List<Korpa>)Session["Korpa"])
                    {
                        <tr>
                            <td><img src="@Url.Content(korpa.Igracka.SlikaPath)" Width="80" Height="80" /></td>
                            <td>@korpa.Igracka.Naziv</td>
                            <td>@korpa.Igracka.Opis</td>
                            <td>@korpa.Igracka.Cijena KM</td>
                            <td><input type="number" name="quantity" id="quantity" min="1" max="5" value="@korpa.Quantity" /></td>
                            <td>@(String.Format("{0:N0}", korpa.Igracka.Cijena * korpa.Quantity)) KM</td>
                            <td>
                                @Html.ActionLink("Ukloni", "Delete", "ShoppingCart", new { id = korpa.Igracka.Id },
                                new { onclick = "return confirm('Da li želite obrisati artikl?');" })
                            </td>
                        </tr>
                    }
                    <tr>
                        <td colspan="6">Ukupan iznos:</td>
                        <td>
                            @{
                                List<Korpa> temp = (List<Korpa>)Session["Korpa"];
                                var total = String.Format("{0:N0}", temp.Sum(x => x.Quantity * x.Igracka.Cijena));
                            }
                            @total KM
                        </td>
                    </tr>
                </tbody>
            </table>

            <br />
            @Html.ActionLink("Nastavite kupovinu", "Index", "Igrackas", null, new { @class = "btn btn-primary" })
            <button type="submit" class="btn btn-primary">Ažuriraj košaru</button>
            @Html.ActionLink("Započni narudžbu", "NarudzbaForm", "Narudzba", null, new { @class = "btn btn-primary" })
        }
    }
    else
    {
        <h4>Nemate igračaka u košari</h4>
    }
}
