@model IEnumerable<PetStore.Models.Igracka>
@{
    ViewBag.Title = "Igrackas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Igračke</h2>
<p>
    @Html.ActionLink("Dodajte novu igračku", "New", "Igrackas", null, new { @class = "btn btn-primary" })
</p>

<table id="igrackas" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Slika</th>
            <th>Igračka</th>
            <th>Kategorija</th>
            <th>Cijena</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var igracka in Model)
        {
        <tr>
            <td><img src="@Url.Content(igracka.SlikaPath)" Width="100" Height="100" /></td>
            <td>
                @Html.ActionLink(igracka.Naziv, "Details", "Igrackas", new { id = igracka.Id }, null)
                <hr />
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = igracka.Id })

                    <button data-igrackas-id="@igracka.Id" class="btn-link js-delete">Obriši</button>
                </p>
                
                <!-- Brisanje igračke preko ActionResult iz IgrackasController
        @Html.ActionLink("Ukloni", "Delete", "Igrackas", new { id = igracka.Id }, null)-->
            </td>
            <td>@igracka.Kategorija.Naziv</td>
            <td>@igracka.Cijena KM</td>
            <td>@Html.ActionLink("Dodaj u košaru", "OrderNow", "ShoppingCart", new { id = igracka.Id }, new { @class = "btn btn-primary" })</td>
        </tr>
    }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#igrackas").DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Croatian.json"
                }
            }
            /* Prikupljanje igracaka iz api controllera
            {
            ajax: {
                url: "/api/igrackas",
                type:"GET",
                dataSrc: ""
            },
                columns: [
                    {
                        data: "slikaPath",
                        render: function (data) {
                            return '<img src="Image/' + data + '">';
                        }
                    },
                {
                    data: "naziv",
                    render: function (data, type, igracka) {
                        return "<a href = '/igrackas/edit/" + igracka.id + "'>" + igracka.naziv + "</a>";
                    }
                },
                {
                    data: "kategorija.naziv"
                },
                {
                    data: "opis"
                },
                {
                    data: "cijena"
                },
                {
                    data: "id",
                    render: function (data) {
                        return "<button class='btn-link js-delete' data-igracka-id=" + data + ">Delete</button>";

                    }
                }
            ]
        }*/);

            $("#igrackas").on("click",".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Jeste li sigurni da želite obrisati igračku?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/igrackas/" + button.attr("data-igrackas-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });
            });
        });
    </script>
}
